#wrapper>footer{
	background-color: hsl(28, 5%, 10%);
	margin: auto;
	width: 100%;
	height: 5rem;
	margin-top: 10px;
}

#wrapper>footer>section{
	width: 70%;
	margin: auto;
	padding-top: 1.75rem;
}

#wrapper>footer>section>p{
	color: white;
}

